.res-nav{
    text-align: center;
    padding: 10px;
    background-color: #d74e09;
}

.res-content{
    height: 545px;
    display: flex;
    flex-direction: row;
}

.res-header{
    background: linear-gradient(to right, #05668D, #00A896,#F0F3BD);
}

.scroll-res{
    width: 30%;
    height: 94%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background-color: #05668D;
}
.subtitle{
    color: #0cffe7;
    font-weight:900;
}
.content{
    color: rgb(255, 255, 255);
    font-weight: 400;
    
}
.list-dots{
    list-style-type: none;
    padding: 0;
    font-size: small;
}
.unpadding-list{
    display: flex;
    flex-direction: column;
}

.map-area{
    width: 70%;
    height: 99%;
}
.warning-space{
    text-align: center;
    background-color: #f79595;
    padding: 10px;
}